---
import { getCollection } from "astro:content";
import dayjs from "dayjs";
import Layout from "../../layouts/Layout.astro";
import siteName from "../../siteName";
import { SITE_DESCRIPTION } from "../../consts";

const posts = (await getCollection("blog")).sort(
    (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
);
---

<Layout title={siteName("Blog")} description={SITE_DESCRIPTION}>
    <section class="w-full min-h-[68svh]">
        <h1 class="text-light-tx dark:text-dark-tx text-5xl sm:text-5xl mb-15">
            Blog
        </h1>
        <ul>
            {
                posts
                    .sort(
                        (p1, p2) =>
                            p2.data.pubDate.getTime() -
                            p1.data.pubDate.getTime(),
                    )
                    .map((post) => (
                        <li class="list-disc list-inside py-1 sm:py-0">
                            <time
                                class="hidden text-md sm:inline"
                                datetime={post.data.pubDate.toISOString()}
                            >
                                {dayjs(post.data.pubDate).format("YYYY-MM")}
                            </time>
                            <a
                                class="underline inline text-md md:text-lg 
                    sm:inline-block items-center gap-3 
                    rounded-xs text-light-tx dark:text-dark-tx md:ml-2"
                                href={`/blog/${post.id}/`}
                            >
                                {post.data.title}
                            </a>
                        </li>
                    ))
            }
        </ul>
        <p class="mt-10">
            If you want to get notified of new blog posts you can subscribe to
            the <a
                class="underline"
                href="/feed.xml"
                target="_blank"
                rel="noopener noreferrer">RSS Feed</a
            >.
        </p>
    </section>
</Layout>
