---
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Layout from '../layouts/Layout.astro';
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
    <section class="flex h-[70svh] flex-col items-center justify-center">
        <h1 class="text-xl">Page Not Found</h1>
        <div>
            You can go back to <a href="/" class="underline">Home</a> now.
        </div>
    </section></Layout
>
