---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
</head>
<body>
    <Header />
    <main>
        <section>
            <h1>Contact</h1>

            <ul>
                <li>
                    Email: <a href="mailto:contact@alirostami.me"
                        >contact@alirostami.me
                    </a>
                </li>
                <li>
                    LinkedIn: <a
                        target="_blank"
                        rel="noopener noreferrer"
                        href="https://www.linkedin.com/in/alirostami1/"
                        >https://www.linkedin.com/in/alirostami1/
                    </a>
                </li>
                <li>
                    GitHub: <a
                        target="_blank"
                        rel="noopener noreferrer"
                        href="https://github.com/alirostami1"
                    >
                        https://github.com/alirostami1
                    </a>
                </li>
                <Footer />
            </ul>
        </section>
    </main>
</body>
