---
import Layout from "../layouts/Layout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
    <section class="grid grid-cols-2 grid-rows-1">
        <div class="flex flex-col justify-center">
            <h1 class="text-light-tx dark:text-dark-tx text-3xl sm:text-5xl">
                Ali Rostami
            </h1>
            <p class="mt-1">
                Software Developer &bull; Tech Writer &bull; Gamer
            </p>
        </div>
        <div class="hero-image">
            <img src="/me.webp" alt="me" height="300" width="300" />
        </div>
    </section>
</Layout>
