---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Experience from '../components/ResumeExperience.astro';
import Section from '../components/ResumeSection.astro';
import Skill from '../components/ResumeSkill.astro';

const skills = [
    {
        name: 'Programming Languages',
        items: [
            'Go',
            'Javascript',
            'Typescript',
            'Bash',
            'C/C++',
            'SQL',
            'TeX',
            'embedded C',
        ],
    },
    {
        name: 'Technologies',
        items: ['Git', 'PostgreSQL', 'MongoDB', 'Redis', 'AWS EC2', 'AWS SES'],
    },
    {
        name: 'Frameworks',
        items: ['Gin', 'Chi', 'Express.js', 'Nest.js', 'React.js', 'Astro.js'],
    },
    {
        name: 'Software',
        items: [
            'Linux',
            'Docker',
            'Nginx',
            'Temporal',
            'Centrifugo',
            'Kubernetes',
        ],
    },
    {
        name: 'Languages',
        items: ['English', 'Farsi (Persian)'],
    },
    {
        name: 'Other',
        items: [
            'Time Management',
            'Problem-solving',
            'Documentation',
            'Unit-testing',
        ],
    },
];
---

<head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
</head>
<body>
    <Header />
    <main>
        <section>
            <h1>Resume</h1>

            <Section title="Experience" />
            <Experience
                company="Eco Waste Management Solutions"
                location="Mashhad, Iran"
                title="Software Engineer"
                beginDate={new Date('November 22 2022')}
                endDate={new Date('Feburary 20 2024')}
            />
            <Experience
                company="Project Management Website for IESEG school of management"
                location="Lille, France"
                title="Software Engineer"
                beginDate={new Date('January 08 2022')}
                endDate={new Date('October 08 2022')}
            />

            <Section title="Education" />
            <Experience
                company="Friedrich Alexander University Erlangen-Nuremberg"
                location="Erlangen, Germany"
                title="M.Sc. Computational Engineering"
                beginDate={new Date('October 01 2024')}
                endDate={new Date('September 30 2026')}
            />
            <Experience
                company="Islamic Azad University"
                location="Mashhad, Iran"
                title="Bachelor in Computer Engineering"
                beginDate={new Date('October 01 2019')}
                endDate={new Date('September 30 2023')}
            />

            <Section title="Skills" />
            <Skill categories={skills} />
        </section>
    </main>
    <Footer />
</body>
