---
import HeaderLink from './HeaderLink.astro';
---

<header class="w-full max-w-2xl px-5 py-10 text-lg md:px-0">
    <nav class="flex justify-between">
        <div class="">
            <HeaderLink class="text-light-tx dark:text-dark-tx" href="/"
                >Ali Rostami</HeaderLink
            >
        </div>
        <div class="flex gap-5">
            <HeaderLink
                class="hover:text-light-tx dark:hover:text-dark-tx"
                href="/blog">Blog</HeaderLink
            >
            <HeaderLink
                class="hover:text-light-tx dark:hover:text-dark-tx"
                href="/about">About</HeaderLink
            >
            <!-- <HeaderLink -->
            <!--     class="hover:text-light-tx dark:hover:text-dark-tx" -->
            <!--     href="/now">Now</HeaderLink -->
            <!-- > -->
        </div>
    </nav>
</header>
