---
import HeaderLink from "./HeaderLink.astro";
---

<header>
    <nav>
        <div class="internal-links">
            <HeaderLink href="/">Home</HeaderLink>
            <HeaderLink href="/blog">Blog</HeaderLink>
            <HeaderLink href="/resume">Resume</HeaderLink>
            <HeaderLink href="/contact">Contact</HeaderLink>
        </div>
    </nav>
</header>
<style>
    header {
        margin: 0;
        background-color: black;
        box-shadow: 0 2px 8px rgba(var(--black), 5%);
    }
    nav {
        margin: auto;
        margin-top: 1rem;
        max-width: 720px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    nav a {
        padding: 0.5em 0.5em;
        color: white;
        border-bottom: 4px solid transparent;
        text-decoration: none;
    }
    nav a.active {
        text-decoration: none;
        border-bottom-color: #e94560;
    }
    .social-links,
    .social-links a {
        display: flex;
    }
    @media (max-width: 720px) {
        .social-links {
            display: none;
        }
        nav {
            flex-direction: column;
            gap: 1;
        }
    }
</style>
