---
import HeaderLink from './HeaderLink.astro';
const pages = [
    { name: 'Blog', href: '/blog' },
    { name: 'About', href: '/about' },
];
const { pathname } = Astro.url;
---

<header class="w-full max-w-2xl px-5 py-10 text-lg md:px-0">
    <nav class="flex justify-between">
        <div class="">
            <HeaderLink class="text-light-tx dark:text-dark-tx" href="/"
                >Ali Rostami</HeaderLink
            >
        </div>
        <div class="flex gap-5">
            {
                pages.map((page) => {
                    if (pathname.startsWith(page.href)) {
                        // Current page
                        return (
                            <HeaderLink
                                class="text-light-tx dark:text-dark-tx"
                                href={page.href}
                                aria-current="page"
                            >
                                {page.name}
                            </HeaderLink>
                        );
                    } else {
                        return (
                            <HeaderLink
                                class="hover:text-light-tx dark:hover:text-dark-tx"
                                href={page.href}
                            >
                                {page.name}
                            </HeaderLink>
                        );
                    }
                })
            }
        </div>
    </nav>
</header>
