<div
    class="prose prose-lg dark:prose-invert prose-p:text-light-tx dark:prose-p:text-dark-tx prose-h1:text-light-tx dark:prose-h1:text-dark-tx prose-h1:font-medium prose-h2:text-light-tx dark:prose-h2:text-dark-tx prose-h2:font-medium prose-h3:text-light-tx dark:prose-h3:text-dark-tx prose-h3:font-medium prose-h4:text-light-tx dark:prose-h4:text-dark-tx prose-h4:font-medium prose-h5:text-light-tx dark:prose-h5:text-dark-tx prose-h5:font-medium prose-h6:text-light-tx dark:prose-h6:text-dark-tx prose-h6:font-medium prose-li:text-light-tx dark:prose-li:text-dark-tx prose-strong:text-light-tx dark:prose-strong:text-dark-tx prose-a:text-light-tx dark:prose-a:text-dark-tx max-w-none"
>
    <slot />
</div>
